.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 6px 6px;
  margin-right: 4px;
  background: black;
  color: white;
}

.button-edit {
  height: 26px;
}
